# Analysis
.datasets/
.snakemake/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Python Packages
__pycache__
caiman/__pycache__
*.egg-info/

# System Files
.DS_Store
Thumbs.db